<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/headerAndFooter.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="myNav">
    <a class="navbar-brand" href="#">
        <img src="../resources/imgs/logo.png" alt="Logo" id="logo" >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navList">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navList">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item  active border-bottom-none">
                <a href="#" class="nav-link text-center">Автопарк</a>
            </li>
            <li class="nav-item border-bottom-none">
                <a href="#" class="nav-link text-center">Условия аренды</a>
            </li>
            <li class="nav-item border-bottom-none">
                <a href="#" class="nav-link text-center">Прайс лист</a>
            </li>
            <li class="nav-item border-bottom-none">
                <a href="#" class="nav-link text-center">Отзывы</a>
            </li>
            <li class="nav-item search">
                <form class=" form-inline" action="#">
                    <div class="box mx-auto">
                        <div class="container-1">
                            <input type="search" id="search" placeholder="Search for something" />
                            <button class="icon" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>

</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>