@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
    background-size: 100%;
    background: url(../imgs/background3.jpg);
    font-family: "Lato", serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", serif;
    font-weight: 400;
}

.centered{
    text-align: center;
}

a:hover {
    text-decoration: none;
    outline: 0;
}

.container {
  padding-top: 30px;
  text-align: center;
}

/* 2 колонки на sm */
@media (min-width: 576px) {
  .card-columns {
      -webkit-column-count: 2;
      column-count: 2;
      margin-top: 10px;
      padding-top: 20px;
  }
}
/* 3 колонки на md */
@media (min-width: 768px) {
  .card-columns {
      -webkit-column-count: 3;
      column-count: 3;
      margin-top: 10px;
      padding-top: 20px;
  }
}
/* 4 колонки на lg и xl */
@media (min-width: 992px) {
  .card-columns {
      -webkit-column-count: 4;
      column-count: 4;
      margin-top: 10px;
      padding-top: 30px;
  }
}

#newsAndSales1{
    background: url(../imgs/news-img2.jpg) no-repeat;
    background-size: 100%;
}
#newsAndSales2{
    background: url(../imgs/news-img1.jpg) no-repeat;
    background-size: 100%;
}
#newsAndSales3{
    background: url(../imgs/news-img3.jpg) no-repeat;
    background-size: 100%;
}
.news-card {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.card .carInfo-card{
  border-radius: 5px;
  max-width: 17rem;
  margin-bottom: 20px;
}
.card h4 {
  font-weight: 800;
}

.card .btn {
  font-weight: bolder;
  background-color: white;
  border-width: 2px;
  border-radius: 7px;
}
#blockWithBackgroundImage{
    background-size: 100%;
    background: url(../imgs/index1.jpg) no-repeat fixed top center;
    opacity: 1;
    min-height: 200px;
    width:100%;
    padding-top:30px;
    text-align:center;
    -webkit-background-size: auto;
    height: 600px;
}
.container-centered{
    position: relative;
    top: 40%;
}
#text{
    background-color:  rgba(85,85,85,0.4);
}
.nameAndSlogan{
    color: white;
    opacity: 1;
}
#body{
    background-color: white;
    /*height: 1000px;*/
}
#news{
    background: url(../imgs/background-news.jpg) no-repeat;
    background-size: 100%;
    height: 500px;
    color: #000;
}
