<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../resources/css/headerAndFooter.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" th:fragment="myNav" id="myNav">
    <a class="navbar-brand" href="#">
        <img src="../../resources/imgs/logo.png" alt="Logo" id="logo" >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navList">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navList">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item  active border-bottom-none">
                <a href="#" class="nav-link text-center">Car park</a>
            </li>
            <li class="nav-item border-bottom-none">
                <a href="#" class="nav-link text-center">Rent terms</a>
            </li>
            <li class="nav-item border-bottom-none">
                <a href="#" class="nav-link text-center">Price list</a>
            </li>
            <li class="nav-item border-bottom-none">
                <a href="#" class="nav-link text-center">Feedback</a>
            </li>
            <li class="nav-item search">
                <form class="form-inline" action="#">
                    <div class="box mx-auto">
                        <div class="search-container">
                            <input type="search" id="search" placeholder="Search for something" />
                            <button class="icon" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </li>
            <li class="nav-item">
                <a th:href="@{/login}" class="btn btn-success">Log in</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>